*,*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-padding: 3rem 0 0 0;
}

body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #4D4D4D;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #4d4d4d;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2.488rem;

  /* letter spacing is 2.5% of the font-size */
  letter-spacing: calc(2.488rem * -0.025);

  /* Margin-top is the size height multiplied by the line height */
  margin-top: calc(2.488rem * 1.2);
}

h2, .h2 {
  font-size: 2.074rem;
  
  /* letter spacing is 2.5% of the font-size */
  letter-spacing: calc(2.074rem * -0.025);
  
  /* Margin-top is the size height multiplied by the line height */
  margin-top: calc(2.074rem * 1.2);
}

h3, .h3 {
  font-size: 1.728rem;
  
  /* letter spacing is 2.5% of the font-size */
  letter-spacing: calc(1.728rem * -0.025);
  
  /* Margin-top is the size height multiplied by the line height */
  margin-top: calc(1.728rem * 1.2);
}

h4, .h4 {
  font-size: 1.440rem;
  
  /* letter spacing is 2.5% of the font-size */
  letter-spacing: calc(1.440rem * -0.025);
  
  /* Margin-top is the size height multiplied by the line height */
  margin-top: calc(1.440rem * 1.2);
}

h5, .h5 {
  font-size: 1.200rem !important;
  
  /* letter spacing is 2.5% of the font-size */
  letter-spacing: calc(1.200rem * -0.025);
  
  /* Margin-top is the size height multiplied by the line height */
  margin-top: calc(1.200rem * 1.2);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
.h1 + .h2,
.h2 + .h3,
.h3 + .h4,
.h4 + .h5 {
  margin-top: 0; /* If a h2 appears after an h1, don't include the margin on top */
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child {
  margin-top: 0; /* If a header appears as a first element, don't include the margin on top */
}

a {
  color: #4D4D4D;
}

p {
  /* letter spacing is 2.5% of the font-size */
  letter-spacing: calc(1rem * -0.025);

  margin: 0 0 1rem;
  max-width: 100%;
  width: 29rem;
}

p + ol,
p + ul {
  /* Stick list to the paragraph above it. */
  margin-top: -1rem;
}

p ~ img {
  margin-bottom: 1rem;
}