.example ::-moz-selection { /* Code for Firefox */
  color: #F2F2F2;
  background: #333333;
}

.example ::selection {
  color: #F2F2F2;
  background: #333333;
}

.example a {
  text-decoration: none;
  transition: background-size 0.4s ease-out;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #333333;

  background-image: linear-gradient(to left,#333333 0,#333333 100%);
  background-position: 0px calc(100% + 1px);
  background-size: 0% 1px;
  background-repeat: no-repeat;
}

[dir="rtl"] .example a {
  background-position: 100% calc(100% + 1px);
}

.example a:hover,
.example a:focus {
  background-size: 100% 1px;
}

.example a.standalone-link {
  font-weight: 700;
  letter-spacing: 0.127rem;
  text-transform: uppercase;
  border: 1px solid #009edb;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #4d4d4d;
  background-repeat: no-repeat;
  background-image: linear-gradient(to left,#F2F2F2 0,#F2F2F2 100%);
  background-position: 0 0;
  background-size: 0% 100%;
  transition: background-size 0.4s ease-out;
}

.example a.standalone-link--grey {
  background-image: linear-gradient(to left,#FFF 0,#FFF 100%);
}

.example a.standalone-link:hover,
.example a.standalone-link:focus {
  background-size: 100% 100%;
}

[dir="rtl"] .example a.standalone-link {
  background-position: 100% 0;
}

.example a.standalone-link:focus {
  outline: dotted 2px #000;
  outline-offset: -2px;
}

.example ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.example ul li {
  position: relative;
  padding-left: 1rem; /* LTR */
}

[dir="rtl"] .example ul li {
  padding-left: 0;
  padding-right: 1rem;
}

.example ul li:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.5rem;
  background: #009EDB;
  border-radius: 50%;
  left: 0rem; /* LTR */
}
[dir="rtl"] .example ul li:before {
  left: auto;
  right: 0rem;
}

.example ol {
  margin-bottom: 1rem;
  list-style: none;
  counter-reset: my-counter;
  padding: 0;
}
.example ol li {
  list-style-image: none;
  list-style-type: none;
  padding-left: 1rem; /* LTR */
}

[dir="rtl"] .example ol li {
  padding-left: 0;
  padding-right: 1rem;
}

.example ol li:before {
  content: counter(my-counter, decimal);
  counter-increment: my-counter;
  color: black;
  font-weight: 700;
  margin-left: -1rem;  /* LTR */
  float: left;  /* LTR */
}

[dir="rtl"] .example ol li:before {
  margin-left: 0;
  margin-right: -1rem;
  float: right;
}

.example .blockquote {
  width: calc(29rem + 1rem);
  max-width: 100%;
  padding: 0.8rem 0rem 0.8rem 1rem; /* LTR */
  margin: 0 0 1rem; /* LTR */
  border-left: 5px solid #F2F2F2; /* LTR */
}

[dir="rtl"] .example .blockquote {
  padding: 0.8rem 1rem 0.8rem 0;
  margin: 1rem 0 0;
  border-left: none;
  border-right: 0.25rem solid #F2F2F2;
}

.example .blockquote footer {
  /* mimic of the .h5 style */
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #4d4d4d;
  font-size: 1.2rem !important;
  letter-spacing: calc(1.2rem * -0.025);

  /* Cancel out margin on top and have 0 margin on the bottom */
  margin: 0;
  text-align: right;  /* LTR */
}

[dir="rtl"] .example .blockquote footer {
  text-align: left;
}

.example .blockquote footer cite {
  font-style: normal;
}

.example .blockquote--large {
  margin: 3.2rem 0;
  text-align: center;
  width: calc(29rem + 1rem);
  max-width: 100%;
}

.example .blockquote--large p:first-child {
  /* Mimicing H2 */
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #4d4d4d;
  font-size: 2.074rem;
  
  /* letter spacing is 2.5% of the font-size */
  letter-spacing: calc(2.074rem * -0.025);
}

.example .blockquote--large p:first-child:before {
  display: inline-block;
  vertical-align: top;
  content: "";
  background: url('../img/quote-left.svg');
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem; /* LTR */
}

[dir="rtl"] .example .blockquote--large p:first-child:before {
  margin-right: 0;
  margin-left: 0.7rem;
}

.example .blockquote--large p:first-child:after {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 0.5rem;
  content: "";
  background: url('../img/quote-right.svg');
  background-repeat: no-repeat;
  
  /* Capital letter height of a H2 */
  width: 1rem;
  height: 1rem;
}

.example .blockquote--large footer {
  font-style: italic;
  margin-top: -0.5rem;
}

.example .blockquote--large footer:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  margin-right: 0.21rem;
  height: 1px;
  background: #333;
  vertical-align: middle;
}

.example code {
  background: none;
  padding: 0;
  font: inherit;
  color: #000;
}

.example-wrapper + .example-wrapper{
  margin-top: 2.4rem;
}

.example {
  background: #FFF;
  border: 1px solid #000;
  padding: 2rem;
  resize: horizontal;
  overflow: auto;
  width: calc(100% + 2rem);
  left: -2rem;
  position: relative;
}

.example::-webkit-resizer {
  background: black;
}

.example:before {
  content: 'LTR example';
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
}

[dir="rtl"] .example {
  left: auto;
}

[dir="rtl"] .example:before {
  content: 'RTL example';
  right: auto;
  left: 0;
}

.example > *:last-child {
  margin-bottom: 0;
}
