.square {
  border:1px solid #000;
  height: 120px;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.square--blue {
  background-color: #009edb;
}

.square--dark-grey {
  background-color: #333333;
}

.square--grey {
  background-color: #4D4D4D;
}

.square--light-grey {
  background-color: #F2F2F2;
}

.square p {
  position: absolute;
  padding: 3px 13px;
  color: #666;
  background-color: #fff;
  bottom: 0;
  left: 1rem;
  width: auto;
  right: 1rem;
}


.label {
  padding: 0.2rem 0.8rem;
  border-radius: 20px;
}

.label--discussion {
  background: red;
  color: #FFF;
}

.nav ol,
.nav ul {
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"] {
  margin: 0;
  overflow: auto;
  width: calc(100% + 2rem);
  margin-left: -2rem;
  border: 1px solid #000;
}
pre[class*="language-"] > code {
  padding: 2rem;
}

:not(pre)>code[class*="language-"],pre[class*="language-"] {
  background: #f5f2f0;
}

:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,.token.prolog,.token.doctype,.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol,.token.deleted {
  color: #905;
}

.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted {
  color: #690;
}

.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}

.token.atrule,.token.attr-value,.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,.token.important,.token.variable {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: rgba(153,122,102,0.08);
  background: -webkit-linear-gradient(left,rgba(153,122,102,0.1) 70%,rgba(153,122,102,0));
  background: linear-gradient(left,rgba(153,122,102,0.1) 70%,rgba(153,122,102,0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: rgba(153,122,102,0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px #fff;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers>code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

pre[class*='language-'] {
  position: relative;
}

pre[class*='language-']>code[data-language] {
  overflow: scroll;
  max-height: 28em;
  display: block;
}

pre[class*='language-']>code[data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
}

.sidebar__logo {
  display: block;
  background: #009edb;
  padding: 2rem;
}

.main-layout__left {
  background-color: #fff;
  border-right: 1px solid #000;
  height: 100%;
  width: 20rem;
  overflow-y: auto;
  position: fixed;
}

.main-layout__right {
  background-color: #eee;
  width: calc(100% - 20rem);
  margin-left: 20rem;
  padding-bottom: 50vh;
}

.huge-sidebar__content img {
  width: 100%;
}

.nav {
  margin-top: 2rem;
}

.nav a {
  position: relative;
  display: block;
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  color: #777;
  font-family: HUGEAvantGardeBold,sans-serif;
  font-weight: normal;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav a.js-open {
  border-left-color:#777;
}

.nav a:not(:last-child):before {
  content: '';
  background: url('../img/angle-right.svg');
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: center center;
  width: 1rem;
  height: 1rem;
  position: absolute;
  margin-left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  filter: grayscale(1);
}

.nav a.js-open:not(:last-child):before {
  transform: translateY(-50%) rotate(90deg);
}

.nav a.active:not(:last-child):before,
.nav a:hover:not(:last-child):before {
  filter: grayscale(0);
}

.nav a:hover,
.nav a.active {
  color: #009edb;
  border-left-color:#009edb;
}

.nav-list--first-level > li > a {
  font-size: 1.2rem;
  border-left: 0.25rem solid transparent;
}

ul.nav-list--second-level {
  display: none;
  margin-top: -0.5rem;
  border-left: 0.25rem solid #777;
  margin-bottom: 1rem;
}
.js-open + .nav-list--second-level {
  display: block;
}
.active + .nav-list--second-level {
  border-left-color:#009edb;
}

.nav-list--second-level > li > a {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.nav-list--second-level a:hover,
.nav-list--second-level a.active {
  /* background: #EEE; */
}

ul.nav-list--third-level {
  display: none;
  margin-top: -0.15rem;
  /* background: #EEE; */
  margin-bottom: 0;
}

.js-open + .nav-list--third-level {
  display: block;
}

.nav-list--third-level > li > a {
  padding: 0.3rem 1rem 0.3rem 3.5rem;
}

ul.nav-list--fourth-level {
  display: none;
  margin-top: -0.15rem;
  margin-bottom: 0;
}

.js-open + .nav-list--fourth-level {
  display: block;
}

.nav-list--fourth-level > li > a {
  padding: 0.1rem 1rem 0.1rem 4.5rem;
}

.section {
  width: 60rem;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
  padding: 4rem 0;
  border-bottom: 1px solid #000;
}

.section:last-child {
  border-bottom: none;
}

.subsection:not(.subsection--first) {
  margin-top: 6rem;
}

.subsubsection:not(.subsubsection--first) {
  margin-top: 6rem;
}

.subsubsubsection:not(.subsubsubsection--first) {
  margin-top: 4rem;
}

.code-toggle {
  display: block;
  padding: 0.4rem 0.6rem;
  background: #333;
  color: #FFF;
  float: right;
  text-decoration: none;
  margin-top: -28px; /* Cancel out it's own height */
  transition: all 0.2s ease;
}

.code-toggle:hover,
.code-toggle:focus {
  background: #4d4d4d;
}


pre[class*='language-']>code[data-language] {
  overflow: auto;
}

.emblem {
  max-width: 10rem;
  height: 100%;
}

.wysiwyg-icon {
  background: #FFF;
  border: 1px solid grey;
  padding: 0.3rem;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  position: absolute;
}

.wysiwyg-icon ~ * {
  margin-left: 3rem;
}

.wysiwyg-icon ~ h5,
.wysiwyg-icon ~ h4 {
  padding-top: 0.3rem; /* for better alignemnt. */
}

.image-example {
  border: 0.7rem solid green;
  max-width: 100%;
  width: 29rem;
  border-radius: 0.5rem;
}

.image-example--bad {
  border-color: red;
}

h1[id] a,
h2[id] a,
h3[id] a,
h4[id] a,
h5[id] a {
  margin-left: 0.3rem;
}